---
name: "DockerPush"
on: # yamllint disable-line rule:truthy
  # POSIX cron format
  # https://pubs.opengroup.org/onlinepubs/9699919799/utilities/crontab.html
  schedule:
  # Nightly
  - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  DockerPush:
    runs-on: "ubuntu-24.04"
    steps:
    - uses: "actions/checkout@v4"
    - uses: "dtolnay/rust-toolchain@stable"
      with:
        toolchain: "1.92.0"
    - name: "provision dev tools"
      run: "make -f install.mk"
    - name: "Authenticate Docker Hub"
      uses: "docker/login-action@v3"
      with:
        username: "${{ secrets.DOCKERHUB_USERNAME }}"
        password: "${{ secrets.DOCKERHUB_TOKEN }}"
    - run: "make docker-push"
